In [3]:
from _001_main import df_csv

df = df_csv

print(df)

  manager department  revenue  experience period
0    Иван          А    15000           2     Q1
1   Мария          Б    22000           5     Q1
2    Петр          А    17000           3     Q1
3    Анна          В    12000           1     Q1
4  Сергей          Б    25000           4     Q1
5    Иван          А    18000           2     Q2
6   Мария          Б    19000           5     Q2
7    Анна          В    14000           1     Q2
8   Ольга          А    16000           2     Q2

In [ ]:
# УПРАЖНЕНИЕ 1
result = (
    df[df["department"].isin(["А", "Б"])]
    .groupby("department")
    .agg({"revenue": "mean"})
    .rename(columns={"revenue": "avg_revenue"})
    .sort_values("avg_revenue", ascending=False)
    .reset_index()[["department", "avg_revenue"]]
)
print(result)

In [ ]:
# УПРАЖНЕНИЕ 2
import numpy as np

df["category"] = np.where(
    df["revenue"] > 20000, "VIP", np.where(df["revenue"] >= 10000, "Standart", "Basic")
)

result = df[df["category"] == "VIP"].sort_values("revenue", ascending=False)
print(result)

In [ ]:
# УПРАЖНЕНИЕ 3
import pandas as pd

sales_1 = df[df["period"] == "Q1"][["manager", "revenue"]].reset_index(drop=True)
sales_2 = df[df["period"] == "Q2"][["manager", "revenue"]].reset_index(drop=True)
# print(f"таблица sales_1:\n{sales_1}\n")
# print(f"таблица sales_2:\n{sales_2}\n")
combined_sales = pd.concat([sales_1, sales_2])
print(f"таблица combined_sales:\n{combined_sales}\n")

result = (
    combined_sales.groupby("manager")
    .agg(total_revenue=("revenue", "sum"))
    .reset_index()
)
print(result)

таблица combined_sales:
  manager  revenue
0    Иван    15000
1   Мария    22000
2    Петр    17000
3    Анна    12000
4  Сергей    25000
0    Иван    18000
1   Мария    19000
2    Анна    14000
3   Ольга    16000

  manager  total_revenue
0    Анна          26000
1    Иван          33000
2   Мария          41000
3   Ольга          16000
4    Петр          17000
5  Сергей          25000

In [ ]:
# УПРАЖНЕНИЕ 4